form {
  border: 3px solid rgb(78, 75, 75);
  border-radius: 10px;
  padding: 5px;
  display: flex;
  background: none;
}
.input {
  background: none;
  border: 0;
  padding: 0 8px;
  display: block;
  width: 100%;
  color: white;
}
.addButton {
  background-color: rgb(62, 91, 136);
  border: 0;
  border-radius: 6px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: white;
}
